<nz-layout>
  <nz-sider [nzWidth]="240" style="background:#fff">
    <ul nz-menu [nzMode]="'inline'" style="height:100%">
      <li nz-submenu>
        <span title><i nz-icon type="user"></i>课程1</span>
        <ul>
          <li nz-menu-item>章节1</li>
          <li nz-menu-item>章节2</li>
        </ul>
      </li>
      <li nz-submenu>
        <span title><i nz-icon type="user"></i>课程2</span>
        <ul>
          <li nz-menu-item>章节1</li>
          <li nz-menu-item>章节2</li>
        </ul>
      </li>
      <li nz-submenu>
        <span title><i nz-icon type="user"></i>课程3</span>
        <ul>
          <li nz-menu-item>章节1</li>
          <li nz-menu-item>章节2</li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout style="padding:0 24px 24px">
    <nz-breadcrumb style="margin:16px 0;">
      <nz-breadcrumb-item>学生</nz-breadcrumb-item>
    </nz-breadcrumb>
    <nz-content style="background:#fff; padding: 24px; min-height: 280px;">
      <h2>学生列表</h2>
      <div>
        <label>学生姓名:
          <input #studentName nz-input [style.width.px]="250" />
        </label>
        <label>学生绩点:
          <input #studentGPA nz-input [style.width.px]="250" type="number" max="4.0" min="1.0" step="0.1"/>
        </label>
        <!-- (click) passes input value to add() and then clears the input -->
        <button nz-button nzType="primary" (click)="add(studentName.value, +studentGPA.value); studentName.value=''">
          添加
        </button>
      </div>
      <nz-list nzSize="large" nzBordered>
        <nz-spin style="margin: 30px" *ngIf="!students?.length" nzTip="加载中，请稍后" nzSimple nzSize="large"></nz-spin>
        <nz-list-item class="li" *ngFor="let student of students" >
          <a class="li-a" routerLink="/detail/{{student.id}}"><nz-tag [nzColor]="'blue'">{{student.id}}</nz-tag>{{student.name}}</a>
        </nz-list-item>
      </nz-list>
    </nz-content>
  </nz-layout>
</nz-layout>
